@page {
  margin: 0;
}
body {
  margin: 0;
}
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
.printable.A3 .sheet {
  width: 297mm;
  height: 419mm;
}
.printable.A3.landscape .sheet {
  width: 420mm;
  height: 296mm;
}
.printable.A4 .sheet {
  width: 210mm;
  height: 296mm;
}
.printable.A4.landscape .sheet {
  width: 297mm;
  height: 209mm;
}
.printable.A5 .sheet {
  width: 148mm;
  height: 209mm;
}
.printable.A5.landscape .sheet {
  width: 210mm;
  height: 147mm;
}
.printable.letter .sheet {
  width: 216mm;
  height: 279mm;
}
.printable.letter.landscape .sheet {
  width: 280mm;
  height: 215mm;
}
.printable.legal .sheet {
  width: 216mm;
  height: 356mm;
}
.printable.legal.landscape .sheet {
  width: 357mm;
  height: 215mm;
}

/** Padding area **/
.sheet.padding-10mm {
  padding: 10mm;
}
.sheet.padding-15mm {
  padding: 15mm;
}
.sheet.padding-20mm {
  padding: 20mm;
}
.sheet.padding-25mm {
  padding: 25mm;
}

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0;
  }
  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  .printable.A3.landscape {
    width: 420mm;
  }
  .printable.A3,
  .printable.A4.landscape {
    width: 297mm;
  }
  .printable.A4,
  .printable.A5.landscape {
    width: 210mm;
  }
  .printable.A5 {
    width: 148mm;
  }
  .printable.letter,
  .printable.legal {
    width: 216mm;
  }
  .printable.letter.landscape {
    width: 280mm;
  }
  .printable.legal.landscape {
    width: 357mm;
  }
}
